*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header */
header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #000;
}

.logo {
  height: 32px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
}

.nav-links a:hover {
  opacity: 0.8;
}

.icons img {
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.icons img:hover {
  opacity: 0.8;
}


.about-section {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.about-content {
  display: flex;
  gap: 40px;
  max-width: 1000px;
  font-family:  'Helvetica Now Text', sans-serif;
  width: 100%;
  align-items: flex-start;
}

.about-content h2 {
  flex: 20;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #111;
}

.about-text {
  flex: 11;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1rem;
  font-weight: lighter;
  color: #333;
  line-height: 1.6;
}

.about-image{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 300px;
}

.about-image img{
    width: 80%; 
    height: auto; 
}


footer{
    height: 300px;
    background-color: black;
}