*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    height: 100px;
}

.mainBanner{
    background-image: url('/Images/paulo-silva-B2mY4p8GsYo-unsplash\ 1.png');
    /*width: 100vh;*/
    background-size: contain;
    background-position: center;    
    background-repeat: no-repeat;   
    height: 459px;                  
    display: flex;
    align-items: flex-end;          
    justify-content: right;        
    color: white;
    padding: 1.5rem;
}

 .image{
    transform: scale(0.7);
}



.container{
  display: flex;
}

.displayImages{
    display: grid;
    grid-template-columns: 210px 210px 210px;
    grid-template-rows: 390px 390px;
    font-family:Arial, Helvetica, sans-serif;

    font-size: 1.3rem;
}
.customise{
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.3rem;
    margin-top: 3.5rem;
}
 .image h4{
    font-weight:100;
 }

.image p{
    font-size:1.07rem;
}
.sort p{
     font-size: 0.9rem;
}
.image span{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-right: 12px;
    
}
.sort h4,.sizeButtons h4{
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}